{% extends 'base.html' %}
{% block title %}Gallery{% endblock title %}

{% block page_title %}Gallery{% endblock page_title %}

{% block content %}
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="row portfolio-container">

            {% for post in posts %}
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="{{ post.img.url }}" class="img-fluid" alt="{{ post.title }}">
                    <div class="portfolio-info">
                        <h4>{{ post.title }}</h4>
                        <div class="portfolio-links">
                            <a href="{{ post.img.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ post.title }}"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No images in the gallery yet.</p>
            </div>
            {% endfor %}

        </div>

    </div>
</section>
{% endblock content %}